
*{
    Margin:0;
    Box-sizing: border-box
  }

body{
    font-size: 12px;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Roboto', sans-serif;
}
/*Header*/
header{
    background-color: #EAC926;
    width: 100vw;

}

section{
    width: 100vw;
}
/*Barra de navegacion*/
#publico,
#privado li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: black;
}


.navbar{
    width: inherit;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

}

#publico{
    width: 50vw;
    display: flex;
    flex-flow: nowrap;
    justify-content:center ;
    align-items: center;
    gap: 10px;
    padding-left: 10px;





}


    

#privado{
    width: 50vw;
    display: flex;
    flex-flow: nowrap;
    justify-content:center ;
    align-items: center;
    gap: 10px;
    
}
    
    

    



/*Menu Hamburguesa*/

.fa-bars{
    background-color:#1259c3;
    color: white;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 45%;
    border-radius: 5px;
}
/*Mensajes entre header-main*/
.cuotasInfo p{
    text-align: center;
}

.banner{
    width: 100vw;
}

img{
    width: 100%;
}
    
    

.logo{
    width: 300px;
    margin-left: 10px;

}

.search-bar{
    text-align: center;
    



}

    




/*Main*/
main{
    background-color:#ebebeb;
    border-top: 1px solid #ebebeb;
}

.fa-truck{
    display: block;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    /*position: absolute;
    right: 20px;
    top: -15px;
    */
}

.info-container{
    position: relative;
    border-top: 1px solid transparent;
    width: 100%;
    padding-left: 17px;
    border-top: #ebebeb solid 1px;
}



#ultimaVisita,
#ofertas{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


    
main i{
    text-align: center;
}
    
    

.titulares{
    font-size: 24px;
    color: #666;
}

.descuento{
    width: 70%;
    color: #39b54a;
    padding-bottom: 1em;
}



.precio{
    font-size: 18px;
    width: 30%;
    padding-right: 10px;
}

.descripcion{
    margin: 10px 0px;
    color: #666;
    display: none;
}





.productContainer{
    width: 90%;
    background-color: white;
    margin-bottom: 10px;
    border-top: 2px solid #ebebeb;
}


/*
.productContainer{
    margin-bottom: 10px;
    padding: 15px;
    border-top: 1px solid #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
*/







main h2{
    margin-bottom: 10px;
    margin-top: 10px;
}

main section article p{
    font-size:16px;
}

/*Footer*/

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

footer section{
    text-align: center;
    width: 60vw;
    margin-top: 15px;

}


footer section .fa-credit-card, .fa-gift, .fa-user-shield{
    background-color: white;
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

footer>p{
    align-self: flex-start;
    margin-left: 10px;
}

@media (min-width: 361px) {
    .burger-menu{
        display: none;
    }
    .navbar{
        display: flex;

    }

    .descripcion{
        display: block;
    }
    
}

@media (min-width: 769) {
    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
        


    
}
    

